.ls-container{
    height: 100%;
    width: 100%;
    background-image:
    linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.4),url("images/background-login.jpg"));
    background-position: center;
    background-size: cover;
    /*position:absolute;*/
}

.form-bx{
    position : relative;
    background: #fff;
    margin : 6% auto;
    padding: 5px;
    width: 380px;
    height: 480px;
    overflow:hidden;
}

.button-Bx{
    width: 220px;
    margin: 35px auto;
    position : relative;
    box-shadow: 0 0 20px 9px #ff61242f;
    border-radius: 30px;
}

.toggle-btn{
    position : relative;
    padding: 10px 21px;
    cursor: pointer;
    border:0;
    outline :none;
    background: transparent;
}

#ls-btn{
    top:0;
    left:0;
    position:absolute;
    width: 115px;
    height: 100%;
    background: linear-gradient(to right,  #fbc1bc, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top:180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-right:0;
    border-left:0;
    border-bottom : 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width:85%;
    padding: 10px 30px; /* top-bottom   left-right */
    cursor: pointer;
    display: block;
    margin: 45px;
    background: linear-gradient(to right, #fbc1bc, #ffad06);
    border:0;
    outline: none;
    border-radius: 30px;
}

#login{
    left:50px;
}
#signup{
    left:450px;
}