body{
    margin : 0px;
    background-color: #ffdfdf;
    font-family: 'Cinzel Decorative', cursive;
    text-transform: none !important;
}
a{
    color: #D5A021;
}

/* HEADER SECTION */
.navbar-custom-header{
    background-color: #233567;
}
.logo{
    max-height: 180px;
    max-width: 180px;
    margin : 0 2.5rem;
}
.btn-custom-header{
    background-color: #D5A021;
    border-color: #D5A021;
    outline-color: #D5A021;
}



/* SUBHEADER SECTION */
.navbar-custom-subheader{
    background-color: #315b96;
}
.options{
    padding-left  : 10rem;
}
.nav-item{
    padding: 0.5rem;
}

/* FOOTER */
.section{
    background-color: #315b96;
    padding: 2.5rem;
}

.footer-text{
    text-align: center;
}
